#movie-show {
  background-size: cover;
  padding: 0px;
  margin: 0px;
}

.center-video {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.youtube-videos {
  aspect-ratio: 16/9;
  max-width: 100%;
}

.row {
  padding: 20px;
}


