#movie-show {
  background-size: cover;
  margin:0 !important;
  padding: 40px;
}

iframe {
  overflow: hidden;
  border: 0;
  align-self: center;
  top: 0;
  left: 0;
  aspect-ratio: 16 / 9;
  width: 100%;
}


